* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
}

/* Media Query */

@media only screen and (max-width: 800px) {

    .container {
        min-width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

}

@media only screen and (max-width: 600px) {

    .container {
        width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

}